# Asignación de nombres a elementos de secuencia

1.17

- Problema

        Tiene código que accede a elementos de lista o tupla por posición, pero esto hace que el código algo difícil de leer a veces. También le gustaría depender menos de la posición en la estructura, accediendo a los elementos por su nombre
        
- Solución

        collections.namedtuple () proporciona estos beneficios, al tiempo que agrega una sobrecarga mínima sobre el uso de un objeto de tupla normal. collections.namedtuple () es en realidad es un método que devuelve una subclase del tipo de tupla estándar de Python. Lo alimentas un tipo nombre, y los campos que debería tener, y devuelve una clase que puede instanciar, pasando en valores para los campos que ha definido, y así sucesivamente. 
        
Por ejemplo:

In [1]:
from collections import namedtuple

In [2]:
alumno = namedtuple("alumno",["nombre","curso"])
emi    = alumno("emiliano","python")
jenny  = alumno("jenny","estadistica")

In [3]:
emi

alumno(nombre='emiliano', curso='python')

In [6]:
emi[0]

'emiliano'

In [4]:
emi.nombre

'emiliano'

In [5]:
emi.curso

'python'

Aunque una instancia de una tupla con nombre parece una instancia de clase normal, es intercambiable con una tupla y admite todas las operaciones de tupla habituales, como la indexación.
y desembalaje.   
Por ejemplo:

In [7]:
nombre=jenny[0]

In [8]:
nombre

'jenny'

In [9]:
len(jenny)

2

In [10]:
print(jenny)

alumno(nombre='jenny', curso='estadistica')

In [11]:
type(jenny)

__main__.alumno

In [12]:
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

In [24]:
dir(Stock)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__match_args__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_make',
 '_replace',
 'count',
 'date',
 'index',
 'name',
 'price',
 'shares',
 'time']

In [13]:
def compute_cost(records,name):
    total = 0.0
    for rec in records:
        if not isinstance(rec,(Stock)):
            try:
                rec = Stock(*rec)
            except:
                continue
        if rec.name==name:
            total += rec.shares * rec.price
    return total

In [15]:
s =[Stock('Nisan', 100, 23.45),
    Stock('Toyota', 100, 123.45),
    ('Fiat', 10,1000),
    Stock('Ford', 150, 23.45),
    Stock('Ford', 100, 123.45),('Toyota', 10,1000),
    ('Fiat', 1, 100),
    Stock('Ford', 100, 123.45),
    ('Toyota', 10,1000),
    (13,3)]
s

[Stock(name='Nisan', shares=100, price=23.45),
 Stock(name='Toyota', shares=100, price=123.45),
 ('Fiat', 10, 1000),
 Stock(name='Ford', shares=150, price=23.45),
 Stock(name='Ford', shares=100, price=123.45),
 ('Toyota', 10, 1000),
 ('Fiat', 1, 100),
 Stock(name='Ford', shares=100, price=123.45),
 ('Toyota', 10, 1000),
 (13, 3)]

In [49]:
print("Fiat   :",compute_cost(s,"Fiat"))
print("Ford   :",compute_cost(s,"Ford"))
print("Toyota :",compute_cost(s,"Toyota"))
print("Nisan  :",compute_cost(s,"Nisan"))

Fiat   : 10100.0
Ford   : 28207.5
Toyota : 32345.0
Nisan  : 2345.0

Un posible uso de una tupla con nombre es como reemplazo de un diccionario, que requiere
más espacio para almacenar. Por lo tanto, si está creando grandes estructuras de datos con diccionarios,
el uso de una tupla con nombre será más eficiente. Sin embargo, tenga en cuenta que, a diferencia de un diccionario,
una tupla con nombre es inmutable.   
Por ejemplo:

In [16]:
s = Stock('ACME', 100, 123.45)
s

Stock(name='ACME', shares=100, price=123.45)

In [17]:
s.shares = 75

AttributeError: can't set attribute

Si necesita cambiar alguno de los atributos, puede hacerlo usando el método _replace ()
de una instancia de tupla con nombre, que crea una tupla con nombre completamente nueva con un valor especificado
ues reemplazado.   
Por ejemplo:

In [18]:
print(s)
s = s._replace(shares=75)
print(s)

Stock(name='ACME', shares=100, price=123.45)
Stock(name='ACME', shares=75, price=123.45)

Un uso sutil del método _replace () es que puede ser una forma conveniente de completar
tuplas con nombre que tienen campos opcionales o faltantes.   
Para hacer esto, haces un prototipo
tupla que contiene los valores predeterminados y luego use _replace () para crear nuevas instancias
con valores reemplazados.   
Por ejemplo:

In [20]:
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])
# Crea un prototipo de instancia
stock_prototype = Stock('', 0, 0.0, None, None)

In [21]:
# Funcion que convierte un diccionario a Stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [22]:
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}

In [23]:
b=dict_to_stock(a)
print(b)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

# Transformar y reducir datos al mismo tiempo

1.18


- Problema
        
        Necesita ejecutar una función de reducción (por ejemplo, sum (), min (), max ()), pero primero debe transformar o filtrar los datos.


- Solución
        
        Una forma muy elegante de combinar una reducción de datos y una transformación es utilizar un argumento de expresión-generadora. Por ejemplo, si desea calcular la suma de cuadrados, haga lo siguiente:

In [25]:
nums = [1, 2, 3, 4, 5]
s = sum(x * x for x in nums)

In [26]:
s

55

In [70]:
# preparar el contenido de una tupla para guardar en un cvs
s = ('ACME', 50, 123.45)
print(','.join(str(x) for x in s))

ACME,50,123.45

In [29]:
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL' , 'shares': 20},
{'name':'SCOX', 'shares': 65}]

In [30]:
min_shares = min(s['shares'] for s in portfolio)

In [31]:
min_shares

20

In [32]:
numeros = range(100)

In [33]:
s  = sum( (x * x for x in numeros if x % 2 == 0) ) # Pasar generator-expr como argumento
si = sum( x * x for x in numeros if x % 2 != 0) # Sintaxis más elegante

In [34]:
s,si

(161700, 166650)

# Combinar múltiples asignaciones en una sola Asignacion

1.19


- Problema

        Tiene varios diccionarios o asignaciones que desea combinar lógicamente en un mapeo único para realizar ciertas operaciones, como buscar valores o verificar por la existencia de claves.

- Solucion
 
        Suponga que tiene dos diccionarios:

In [104]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

Ahora suponga que desea realizar búsquedas en las que debe verificar ambos diccionarios
(por ejemplo, primero marcando en a y luego en b si no se encuentra). Una forma sencilla de hacerlo es utilizar el
Clase ChainMap del módulo de colecciones.  
Por ejemplo:

In [105]:
from collections import ChainMap
c = ChainMap(a,b)
print(c['x'])
# Outputs 1 (from a)
print(c['y'])
# Outputs 2 (from b)
print(c['z'])
# Outputs 3 (from a)

1
2
3

In [106]:
d = ChainMap(b,a)
print(d['x'])
# Outputs 1 (from a)
print(d['y'])
# Outputs 2 (from b)
print(d['z'])
# Outputs 3 (from b)

1
2
4

ChainMap toma múltiples asignaciones y las hace aparecer lógicamente como una. 
Sin embargo, las asignaciones no se fusionan literalmente. 
En cambio, un ChainMap simplemente mantiene una lista de las asignaciones subyacentes 
y redefine las operaciones comunes del diccionario para escanear la lista. 
La mayoría de las operaciones funcionarán.  
Por ejemplo:

In [107]:
print(len(c))
print(c.keys())
print(c.values())

3
KeysView(ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4}))
ValuesView(ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4}))

Si hay claves duplicadas, se utilizan los valores del primer mapeo. Por lo tanto, la entrada
c ['z'] en el ejemplo siempre se referiría al valor en el diccionario a, no al valor en
diccionario b.
Las operaciones que mutan el mapeo siempre afectan al primer mapeo listado.   
Por ejemplo:

In [108]:
print(a)
c['z'] = 10
c['w'] = 40
del c['x']

{'x': 1, 'z': 3}

In [109]:
a

{'z': 10, 'w': 40}

# 
___

In [ ]:
# leer el contenido de una carpeta y ver si hay alguna notebook

import os
files = os.listdir(os.getcwd())
if any(name.endswith('.ipynb') for name in files):
    print('Hay notebook de jupyter')
else:
    print('No hay nada.')